# Игнорировать конфигурацию компоновщика
/.bundle
# Игнорировать базу данных SQLite по умолчанию
/db/*.sqlite3
/db/*.sqlite3-journal
# Игнорировать все журналы и временные файлы
/log/*.log
/tmp
# Игнорировать файлы Spring
/spring/*.pid
\.byebug_history
